<a href="~/">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center text-center">
      {% if snippets['Logo URL'] %}
      <div class="col-auto">
        <img src="{{ snippets['Logo URL'] }}" alt="{{ snippets['Logo alt text'] }}" class="img-fluid" style="width: auto; margin: 0 10px;">
      </div>
      {% endif %}
      {% if snippets['Site name'] %}
      <div class="col">
        <h1 class="siteTitle custom-sitetitle">{{ snippets['Site name'] }}</h1>
      </div>
      {% endif %}
    </div>
  </div>
</a>