// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use '../abstracts';


//Home Section Background for Ways you Can Use This Portal
.home-section-bg {
    background-color: abstracts.$portal-theme-color-1;
    padding: 20px;
}


/* Home Page Action Card Styling */
.portal-card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .portal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px abstracts.$portal-theme-color-1;
  }
  
  /* Logo Image Styling */
  .portal-card-img {
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    object-fit: contain; /* Ensures logos fit without distortion */
    margin: 0 auto; /* Center the image horizontally */
    display: block;
  }
  
  /* Card Title Link Styling */
  .portal-card-title h3 {
    margin-top: 10px;
    color: abstracts.$portal-theme-color-1; /* Bootstrap default text color */
    transition: color 0.3s ease;
  }
  
  .portal-card-title:hover h3 {
    color: abstracts.$portal-theme-color-1; /* Bootstrap primary color for hover effect */
  }
  

    /* Event & Resources Card Carousel Row formatting  */
