<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/main2.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Hello!!</h1>;
    </header>
    <div class="container-fluid">
        <div class="row">
            <h2>Row 1</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-2">
                <h3>TEST1</h3>
            </div>

            <div class="col-5">
                <h3>TEST2</h3>
            </div>
            <div class="col-3">
                <h3>TEST2</h3>
            </div>
            <div class="col-2">
                <h3>TEST2<s/h3>
            </div>
        </div>
    </div>
</body>
<footer>
    <p>&copy; 2020</p>
</footer>
</body>

</html>