<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/main_BS5.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>HEADING</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Column 1</h2>
            </div>
            <div class="col">
                <h2>Column 2</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Column 1</h2>
            </div>
            <div class="col">
                <h2>Column 2</h2>
            </div>
            <div class="col">
                <h2>Column 3</h2>
            </div>
        </div>
    </div>
</body>
<footer>
    <p>&copy; 2020</p>
</footer>
</body>

</html>