<div id="i1cndi" class="row sectionBlockLayout sectionPrimaryColor text-left" style="display: flex; flex-wrap: wrap; height: 15px; padding: 8px; margin: 0px;"><div id="iuzhhj" class="container" style="display: flex; flex-wrap: wrap;"></div></div>
<div id="iwahoy" class="row sectionBlockLayout text-left" style="display: flex; flex-wrap: wrap; margin: 0px; min-height: auto; padding: 8px;">
  <div id="i3xhw1" class="container" style="padding: 0px; display: flex; flex-wrap: wrap;">
    <div id="itjntl" class="col-md-12 columnBlockLayout" style="flex-grow: 1; display: flex; flex-direction: column; min-width: 250px; word-break: break-word;"><h1 id="igsso4" style="text-align: left;">My Education Application Requests</h1></div>
  </div>
</div>
<div id="icdubf" class="row sectionBlockLayout text-left" style="display: flex; flex-wrap: wrap; margin: 0px; min-height: auto; padding: 8px;">
  <div id="ia84lf" class="container" style="padding: 0px; display: flex; flex-wrap: wrap;">
    <div id="i45iyd" class="col-md-12 columnBlockLayout" style="flex-grow: 1; display: flex; flex-direction: column; min-width: 250px; word-break: break-word;">
      <p style="text-align: left;">​<br>Student application requests are made to the education department by a parent or a guardian on behalf of a student. These services offer assistance available from the Education department to aid in academic affairs for student success. Many education services require an assessment.<br><br>Below are lists of your draft applications and in review requests submitted by you or are related to the student.&nbsp;<br><br></p>
      <h3 style="text-align: left;">Unsubmitted Applications</h3>
      <div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; min-height: 15px;"></div>
      {% include 'entity_list' key: 'Education - Portal Assessments in Progress' AISummaryTitle: 'Summarized by AI' isAISummaryExpanded: 'true' isAISummaryEnabled: 'false'%}
      <div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; min-height: 15px;"></div>
      <h3 style="text-align: left;">Submitted Applications</h3>
      {% include 'entity_list' key: 'Education - Assessments/Applications' isModern: 'false'%}
    </div>
  </div>
</div>
