@use '../abstracts';
// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Global Element Styling
h1 {
    font-family: abstracts.$font-family;
}

h2 {
    font-family: abstracts.$font-family;
}

h3 {
    font-family: abstracts.$font-family;
}

h4 {
    font-family: abstracts.$font-family;
}

h5 {
    font-family: abstracts.$font-family;
}

h6 {
    font-family: abstracts.$font-family;
}

p {
    font-family: abstracts.$font-family;
}

p.smallText {
    font-family: abstracts.$font-family;
}

header {
    font-family: abstracts.$font-family;
}

// Power Pages Site Title Custom Font
h1.siteTitle, 
.static-top.navbar-dark .navbar-brand a h1.siteTitle, 
.static-top.navbar-dark .navbar-brand a h1.siteTitle > span {
    font-family: abstracts.$font-family;
}

// Navigation Link Item Styling

.static-top.navbar .menu-bar > .navbar-nav > li > a {
    font-family: abstracts.$font-family;
}
