@use '../abstracts';

//////////////////////////////////////////////////////////////////////////
// HEADER ELEMENTS
// Header Title
.navbar-brand.navbar-header h1 {
    color: abstracts.$portal-theme-color-1;
}   

// Typography for Header Background
.static-top.navbar-dark {
    background-color: abstracts.$portal-theme-color-4; /* Example: Change background color */
}

.static-top.navbar-dark .navbar-nav .nav-link {
    color: abstracts.$portal-theme-color-1; /* Example: Change color of the navigation links */
}

.static-top.navbar-dark .navbar-nav .nav-link:hover {
    color: abstracts.$portal-theme-color-1; // Text Color
    background-color: transparent; /* Change color of the navigation link text on hover */
    transition: background-color 0.3s ease; // Add transition for smooth effect
}
// Nav bar List item links

//////////////////////////////////////////////////////////////////////////