h1,h2{
    font-size: 25px;
}
h1{
    color: purple;
    text-decoration: underline;
    background-color: gold;
}
h2{
    color: purple;
    font-size: 25px;
    font-weight: bold;
    border: 5px solid gold;
}

/* <p>Make this section width of 50%, 
height of 200px, 
background of gray, 
border of black, and the 
paragraph text white</p> */
section{
    height: 200px;
    background-color: gray;
    border: 5px solid black;
    color: black;
}
/* <h3>Make this footer have a black background, 
with light green border, and this text 20px white plus a font-family of Roboto</h3> */
h3{
    background: black;
    border: 5px dotted green;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}